@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    background: linear-gradient(180deg, #07121C 2%, #07121C 26.33%, #000000 100%);
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header,
main,
footer {
    padding: 0 10%;
}

.logo {
    width: auto;
    height: 42px;
}

main {
    padding: 3% 10%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 40px;
    list-style: none;
}


.item-menu {
    color: #FFFFFF;
    border-radius: 12px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;

}

i {
    font-size: 25px;
    color: #ffffff;
}

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 10px;
}


p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    color: #FFFFFF;

}