.parceiros {
    background: #1229404D;
    padding: 16px;
}

.itens-parceiros {
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4%;
    row-gap: 25px;
}

.item-parceiro {
    display: flex;
    gap: 20px;
    width: 48%;
    background: #1229404D;
    padding: 36px 20px;
    border-radius: 12px;
}

.item-parceiros-txt {}

.nome-parceiro {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
}

.descricao-parceiro {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;

}

.item-parceiro>img {
    width: 150px;
    margin-top: -50px;
    margin-bottom: -50px;
}